

#who_dialog.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{ type: :button, 'data-dismiss' => :modal, 'aria-hidden' => true} &times;
        %h4.modal-title Hello and welcome!
      .modal-body
        %p 
          %strong Are you one of these unregistered hikers? (CHOOSE ONE)
        %p
          %em (If you received a Welcome email to an address different from your Facebook login, we need your help matching the accounts)
        .list-group
          - diff = (@hikers.first.fuzzy_score - @hikers.last.fuzzy_score)
          - last = @hikers.last.fuzzy_score
          - @hikers.each do |hiker|
            - fade = "background-color: rgba(223, 240, 216, #{(hiker.fuzzy_score - last) / diff})"
            - display = hiker.name
            - display += "(#{hiker.email.split('@').first}@...)" if hiker.email.present?
            = link_to display.html_safe, iam_sessions_path(id: hiker.id), class: 'list-group-item list-group-item-success', style: fade, title: hiker.fuzzy_score
        .list-group
          = link_to "Nope, none of these, I'm new", iam_sessions_path(id: 'new'), class: 'list-group-item list-group-item-info', id: 'im_new'

      .modal-footer
        %button.btn.btn-default.cancel{ type: :button, 'data-dismiss' => :modal } Never mind

:coffee
  $('#who_dialog').modal('show')

  $('#who_dialog button.cancel').click ->
    window.location = '/signout'

