@import "bootstrap";

// with .navbar-fixed-top
body { padding-top: 70px; }

// standard utility styles
.centered {
  text-align: center;
}
.align_right {
  text-align: right;
}
.small {
  font-size: x-small;
}