@font-face {
	font-family: "Flaticon";
	src: url(font-path("flaticon.eot"));
	src: url(font-path("flaticon.eot#iefix")) format("embedded-opentype"),
	url(font-path("flaticon.woff")) format("woff"),
	url(font-path("flaticon.ttf")) format("truetype"),
	url(font-path("flaticon.svg")) format("svg");
	font-weight: normal;
	font-style: normal;
}
[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
	font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}.flaticon-lock27:before {
	content: "\e000";
}
.flaticon-mountain13:before {
	content: "\e001";
}
