#inline_datepicker { 
  table {
    background-color: white; 
    border: 1px solid #ccc; 
  }
  margin-bottom: 1em
}


// .selection_item {
//   width: 235px;
//   display: inline-block;
// }

li.select2-search-choice {
  width: 95%;
}


// close button on right
.select2-container-multi {
  .select2-search-choice-close {
    left: inherit;
  }
  .select2-choices .select2-search-choice {
    padding: 3px 18px 3px 5px;
  }
}


button.add_select {
  margin-top: -15px;
  margin-bottom: 15px;
}

.clickable_icon {
  cursor: pointer;
  padding: 4px;
  &:hover {
    background-color: #fff;
  }
}