#inline_datepicker { 
  table {
    background-color: white; 
    border: 1px solid #ccc; 
  }
  margin-bottom: 1em
}


.selection_item {
  width: 235px;
  display: inline-block;
}

button.add_select {
  margin-top: -15px;
  margin-bottom: 15px;
}