#inline_datepicker { 
  table {
    background-color: white; 
    border: 1px solid #ccc; 
  }
  margin-bottom: 1em
}


// .selection_item {
//   width: 235px;
//   display: inline-block;
// }

li.select2-search-choice {
  width: 95%;
}

li.select2-no-results {
  background-color: $state-info-bg !important;
}

// close button on right
.select2-container-multi {
  .select2-search-choice-close {
    left: inherit;
  }
  .select2-choices .select2-search-choice {
    padding: 3px 18px 3px 5px;
  }
}


button.add_select {
  margin-top: -15px;
  margin-bottom: 15px;
}

.clickable_icon {
  cursor: pointer;
  padding: 4px;
  &:hover {
    background-color: #fff;
  }
}

#s2id_trip_mtns_select .select2-search-choice
{
  // .alert-success
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
#s2id_trip_hikers_select .select2-search-choice
{
  // .alert-warning
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
//background-image: linear-gradient(to top, #f4f4f4 20%, #dff0d8 50%, #e8e8e8 52%, #eeeeee 100%);

// invite dialog
#invite_hiker_name_input {
  display: none;
}

// file upload button
// ref: http://www.surrealcms.com/blog/whipping-file-inputs-into-shape-with-bootstrap-3
.btn-file {
    position: relative;
    overflow: hidden;
    //
    display: block;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

// fraola editor
.froala-box {
  border-radius: 4px;
}
.froala-editor { // toolbar
  background-color: whitesmoke; // bootstrap well color
  border-radius: 4px 4px 0 0;
}
.froala-element { // textarea content
  background-color: white;
  border-radius: 0 0 4px 4px;
}